@tailwind base;

@tailwind components;

@tailwind utilities;

*:focus {
  @apply outline-none;
  box-shadow: .15rem .1rem 0 black
}
a:not(.Button):focus {
  box-shadow: none;
  text-shadow: .1rem .1rem 0 black;
  text-decoration: none;
}